<% if cad_parcel.shapefile_file_name %>
  <div class="row-fluid">
      <h4 class="text-info">
        <a id="cpIdentifier" rel="popover" data-original-title="Help"><%= cad_parcel.identifier %></a>
        <span class="text-success pull-right">&nbsp;<%= number_to_human_size(cad_parcel.shapefile_file_size) %></span>
        <a id="cpInfo" class="text-warning pull-right" rel="popover" data-content="" data-original-title="">[<%= cad_parcel.shapefile_file_name %>] - </a>
      </h4>
  </div>
<!-- Action steps -->
  <div id="cadastralParcelsSteps" class="row-fluid psteps_strict" title="<%= cad_parcel.condition %>">
      <!-- Step Orders -->
      <div class="span3">
        <div class="step-title"><span class="step-order">1.</span> <span class="step-name">Unzip Content</span></div>
        <div class="step-title"><span class="step-order">2.</span> <span class="step-name">Process</span></div>
        <div class="step-title"><span class="step-order">3.</span> <span class="step-name">Archive</span></div>
        <div class="step-title"><span class="step-order">4.</span> <span class="step-name">Information</span></div>
      </div>
      <!-- Steps listed-->
      <div class="span9 well clearfix">
          <!-- Extraction -->
          <div class="step-content">
            <blockquote>
              <p class="text-info">File Name: <%= cad_parcel.shapefile_file_name %></p>
              <p class="text-error">File Size: <%= number_to_human_size(cad_parcel.shapefile_file_size) %></p>
              <p class="text-warning">Condition: <%= cad_parcel.condition %></p>
              <%= link_to("Extract", extract_version_path(:id => cad_parcel.id), :class => "btn btn-info action", :remote => true) %>
            </blockquote>
          </div>
          <!-- Processing -->
          <div class="step-content">
            <input id="cpSchema" value="<%= schema('CP') %>" class="hide"/>
            <input id="cpShapeSchema" value="<%= cad_parcel.note %>" class="hide">
            <div class="span5">
              <table id="cpSchemaTable" class="table table-striped table-condensed table-bordered" style="width: 100%;">
                <thead>
                  <tr><th>Column</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <button id="cpClearSelectionBtn" class="btn btn-inverse">Clear Mappings</button>
            </div>
            <div class="span6">
              <table id="cpTable" class="table table-striped table-condensed table-bordered" style="width: 100%;">
                <thead>
                  <tr><th>Attribute</th><th>Mapped</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <%= form_tag transform_version_path, {:id => 'cp_transform_data_form', :remote => true} do %>
                <%= hidden_field_tag :map_list, "" %>
                <%= hidden_field_tag :shapeid, cad_parcel.id %>
                <%= hidden_field_tag :type, "cp" %>
                <%= submit_tag 'Transform Data', :class => 'btn btn-primary action' %>
              <% end %>
            </div>
          </div>
          <!-- Archive -->
          <div class="step-content">
            <!-- Information DIV -->
            <div id="checkResultDiv" class="hidden">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><span id="deactivateErrors"></span></strong>
            </div>
            <!-- /END Information DIV -->

            <!-- Deactivation FORM -->
            <%= form_tag(deactivate_version_path, :remote => true, :method => :put, "onsubmit" => "return $(this).validate()") do %>
              <div class="input-prepend input-append">
                <span class="add-on">Archive Location</span>
                <%= text_field_tag 'location', nil, {:class => "input-xlarge cplocation"} %>
                <%= hidden_field_tag 'schema', 'cp' %>
                <%= hidden_field_tag 'shapeid', cad_parcel.id %>
                <%= link_to("Check", folder_exists_version_path(:location => ""), :id => "checkFolderLink",:class => "btn btn-info", :remote => true) %>
              </div>
              <div class="input-append">
                <label class="checkbox">
                  <%= check_box_tag 'compress', true, false %>
                  Compress data
                </label>
                <label class="checkbox">
                  <%= check_box_tag 'default_path', true, false, :class => 'cp_default_path' %>
                  Default Folder
                </label>
                <%= submit_tag "Deactivate", :id => "deactivateVersionBtn" ,:class => "btn btn-info" %>
              </div>

            <% end %>
            <!-- /END Deactivation FORM -->
          </div>
          <!-- Information -->
          <div class="step-content">
            <table class="table table-condensed table-striped">
              <tr>
                <td>Features</td>
                <td><%= cad_parcel.features %></td>
              </tr>
              <tr>
                <td>Archive</td>
                <td><%= link_to 'Download', download_archive_version_path(:path => cad_parcel.archive_path) %></td>
              </tr>
              <tr>
                <td>User</td>
                <td><%= cad_parcel.version.user.email %></td>
              </tr>
            </table>
          </div>

          <div style="clear:both;"></div>
      </div>
  </div>
  <% unless cad_parcel.faults.nil? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error: </strong> <%= cad_parcel.faults %>
      <%= link_to 'Delete Version', @version, :confirm => "Delete #{@version.name}?", :method => :delete %>
    </div>
  <% end %>
  <script type="text/javascript">
    $(function(){
      var helper = $("#cpIdentifier").data("popover");
      helper.options.placement = "left";
      helper.options.html = true;
      helper.options.content = $('#cp_sample_mapper').html();


      loadInfo($("#cpShapeSchema").val(), "cpInfo");

      modelSchema($("#cpSchema").val(), "cpTable");
      shapeSchema($("#cpShapeSchema").val(), "cpSchemaTable");
      $("#cpSchemaTable tbody tr .draggable").draggable({
        helper: "clone",
        containment: "#cadastralParcelsSteps",
        cursor: "crosshair"
      });

      $("#cpTable tbody .droppable.mapped").droppable({
        drop: function(event, ui){
          var mappedValue = $(this).html();
          if(mappedValue != ''){
            $(this).text(mappedValue + "," + ui.draggable.text());
          }else{
            $(this).text(ui.draggable.text());
          }
        }
      });

      $("#cp_transform_data_form").submit(function(){
        $("#cp_transform_data_form #map_list").val(schemaTableJSON("cpTable"));
      });

      $("#cpClearSelectionBtn").click(function(){
        clearSchemaTable("cpTable");
      });

      $(".cp_default_path").change(function(){
        if( this.checked ){
          $(".cplocation").attr("disabled", "disabled");
        }else{
          $(".cplocation").removeAttr("disabled");
        }
      });


    });
  </script>

<!-- End Action steps -->
<% else %>
  <div class="row-fluid">
    <h4 class="text-info">Cadastral Parcels</h4>
  </div>
  <div class="hero-unit">
    <h1 class="text-center text-warning">Cadastral Parcels <span class="text-info">Missing</span></h1>
  </div>
<% end %>

<div id="cp_sample_mapper" style="display: none">
  <table id="sampleMappingCp" class="table table-striped table-condensed table-bordered" style="width: 100%;">
    <thead>
      <tr><th>Attribute</th><th>Mapped</th>
      </tr>
    </thead>
    <tbody>
      <tr><td class="key">identifier</td><td>parcel_id</td></tr>
      <tr><td class="key">localid</td><td>felulet_id</td></tr>
      <tr><td class="key">area</td><td>terulet</td></tr>
      <tr><td class="key">label</td><td>hrsz</td></tr>
      <tr><td class="key">natref</td><td>parcel_id + hrsz</td></tr>
    </tbody>
  </table>
</div>

