<!-- Shapefile Basic information -->
  <div class="row-fluid">
      <h4 class="text-info">
        <a id="shapefile<%= shapefile.id %>"><%= shapefile.identifier %></a>
        <span class="text-success pull-right">&nbsp;<%= number_to_human_size(shapefile.shapefile_file_size) %></span>
        <a id="cpInfo" class="text-warning pull-right">[<%= shapefile.shapefile_file_name %>] - </a>
      </h4>
  </div>
<!-- End shapefile basic information -->

<!-- Action steps -->
  <div id="actionSteps<%= shapefile.id %>" class="row-fluid psteps_strict" title="<%= shapefile.condition %>">
    <!-- Step Orders -->
    <div class="span3">
      <div class="step-title"><span class="step-order">1.</span> <span class="step-name">Unzip Content</span></div>
      <div class="step-title"><span class="step-order">2.</span> <span class="step-name">Process</span></div>
      <div class="step-title"><span class="step-order">3.</span> <span class="step-name">Archive</span></div>
      <div class="step-title"><span class="step-order">4.</span> <span class="step-name">Information</span></div>
    </div>
    <!-- End Step Orders -->

    <!-- Steps content-->
    <div class="span9 well clearfix">

      <!-- ACTION: EXTRACTION -->
      <div class="step-content">
        <blockquote>
          <p class="text-info">File Name: <%= shapefile.shapefile_file_name %></p>
          <p class="text-error">File Size: <%= number_to_human_size(shapefile.shapefile_file_size) %></p>
          <p class="text-warning">Condition: <%= shapefile.condition %></p>
          <%= link_to("Extract", extract_version_path(:id => shapefile.id), :class => "btn btn-info action", :remote => true) %>
        </blockquote>
      </div>
      <!-- END EXTRACTION -->

      <!-- ACTION: PROCESSING -->
      <div class="step-content">

        <div class="row-fluid">
          <div class="btn-group">
            <button class="btn btn-inverse clear" data-name="mappingTbl<%= shapefile.id %>">
              Clear Mapping
            </button>
            <button class="btn btn-success save" data-toggle="modal" href="#mappingModal<%= shapefile.id %>" data-reminder="mappingTbl<%= shapefile.id %>" data-appender="#reminderMapping<%= shapefile.id %>">
              Save mapping template
            </button>
            <button class="btn btn-primary transform" data-name="#transform_form_<%= shapefile.id %>" id="transform_btn_<%= shapefile.id %>">
              Transform mapped data
            </button>
          </div>
        </div>
        <br>
        <div class="accordion" id="saved_mappings<%= shapefile.id %>">
          <%= render :partial => 'mapping', :locals => {:shapefile => shapefile} %>
        </div>
        <!-- Store ISNPIRE and Shapefile Schemas in hidden input -->
        <input id="inspire<%= shapefile.id %>" value="<%= schema(shapefile.identifier) %>" class="hide"/>
        <input id="shape<%= shapefile.id %>" value="<%= shapefile.note %>" class="hide">

        <div class="span5">
          <table id="shapeTbl<%= shapefile.id %>" class="table table-striped table-condensed table-bordered" style="width: 100%;">
            <thead>
              <tr><th>Column</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="span6">
          <table id="mappingTbl<%= shapefile.id %>" class="table table-striped table-condensed table-bordered" style="width: 100%;">
            <thead>
              <tr><th>Attribute</th><th>Mapped</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    <!-- END PROCESSING -->

    <!-- ACTION: ARCHIVING SCHEMA -->
      <div class="step-content">
        <!-- Deactivation FORM -->
        <%= form_tag(deactivate_version_path, :remote => true, :method => :put, "onsubmit" => "return $(this).validate()") do %>
          <div class="input-prepend input-append">
            <span class="add-on">Archive Location</span>
            <%= text_field_tag "location#{shapefile.id}", nil, {:class => "input-xlarge cplocation"} %>
            <%= hidden_field_tag 'schema', rendering(shapefile.identifier) %>
            <%= hidden_field_tag 'shapeid', shapefile.id %>
            <%= link_to("Check", folder_exists_version_path(:location => ""), :id => "checkFolder#{shapefile.id}",:class => "btn btn-info", :remote => true) %>
          </div>
          <div class="input-append">
            <label class="checkbox">
              <%= check_box_tag 'compress', true, false %>
              Compress data
            </label>
            <label class="checkbox">
              <%= check_box_tag 'default_path', true, false, :class => "default_path_#{shapefile.id}" %>
              Default Folder
            </label>
            <%= submit_tag "Deactivate", :id => "deactivateVersionBtn" ,:class => "btn btn-info" %>
          </div>
        <% end %>
        <!-- /END Deactivation FORM -->
      </div>
    <!-- END ACTION: ARCHIVING SCHEMA -->

    <!-- INFORMATION ON ARCHIVE DATA -->
      <div class="step-content">
        <table class="table table-condensed table-striped">
          <tr>
            <td>Features</td>
            <td><%= shapefile.features %></td>
          </tr>
          <tr>
            <td>Archive</td>
            <td><%= link_to 'Download', download_archive_version_path(:path => shapefile.archive_path) %></td>
          </tr>
          <tr>
            <td>User</td>
            <td><%= shapefile.version.user.email %></td>
          </tr>
        </table>
        <!-- END information on archive data -->
        <div style="clear:both;"></div>
      </div>

      <!-- END ARCHIVING SCHEMA -->

    </div>
    <!-- End Steps Content -->

  </div>
<!-- End Action steps -->

<!-- HIDDEN DIVS AND FORMS -->
  <!-- CHECK if Folder exists: Result dialog -->
  <div id="checkResultDiv" class="modal hide fade">
    <div class="content hero-unit">
      <h1>
        <p id="deactivateErrors" class="text-info">
        </p>
      </h1>
    </div>
  </div>
  <!-- END Dialog -->

  <!-- SHAPEFILE TRANSFORMATION FORM -->
  <%= form_tag transform_version_path, {:id => "transform_form_#{shapefile.id}", :remote => true} do %>
    <div id="errors">
    </div>
    <%= hidden_field_tag :map_list, "" %>
    <%= hidden_field_tag :shapeid, shapefile.id %>
    <%= hidden_field_tag :type, rendering(shapefile.identifier) %>
  <% end %>
  <!-- END SHAPEFILE TRANSFORMATION FORM -->

  <!-- DISPLAY FAULTS ON SHAPEFILE -->
  <% unless shapefile.faults.nil? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error: </strong> <%= shapefile.faults %>
      <%= link_to 'Delete Version', version, :confirm => "Delete #{version.name}?", :method => :delete %>
    </div>
  <% end %>
  <!-- END DISPLAY FAULTS ON SHAPEFILE -->

  <!-- SAVE MAPPINGS DIALOG FORM -->
  <div id="mappingModal<%= shapefile.id %>" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <%= form_tag save_mapping_version_path, {:id => 'save_mapping_form', :class => 'form-inline', :remote => true} do %>
        <div class="input-prepend input-append">
          <span class="add-on">Name:</span>
          <%= hidden_field_tag :shapefile, shapefile.id %>
          <%= hidden_field_tag :mapping_type, rendering(shapefile.identifier) %>
          <%= hidden_field_tag :data, "" %>
          <%= text_field_tag :name, nil, placeholder: 'Name your Mapping', :class => 'input-xlarge' %>
          <%= submit_tag 'Save selected mapping!', :class => 'btn' %>
        </div>
      <% end %>
    </div>
    <div class="modal-body">
      <table id="reminderMapping<%= shapefile.id %>" class="table table-striped table-condensed table-bordered" style="width: 100%;">
        <thead>
          <tr><th>Attribute</th><th>Mapped</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  <!-- END SAVE MAPPINGS DIALOG FORM -->

<!-- END HIDDEN DIVS AND FORM -->

<script type="text/javascript">
  $(function(){
    loadActionSteps("actionSteps<%= shapefile.id %>");

    // Load Mapping data only if shapefile in Extracted condition
    if("<%= shapefile.condition %>" == "Extracted"){
      modelSchema($("#inspire<%= shapefile.id %>").val(), "mappingTbl<%= shapefile.id %>");
      shapeSchema($("#shape<%= shapefile.id %>").val(), "shapeTbl<%= shapefile.id %>");

      setDraggable("shapeTbl<%= shapefile.id %>", "actionSteps<%= shapefile.id %>");
      setDroppable("mappingTbl<%= shapefile.id %>");

      $(".accordion-toggle").click(function(){
        var dataId = $(this).attr("href");
        var data = $(dataId+" > div").html();
        load_mapping_table(data, "mappingTbl<%= shapefile.id %>");
      });

      $("#transform_btn_<%= shapefile.id %>").click(function(){
        var form_name = $(this).attr("data-name");
        $(form_name + " #map_list").val(schemaTableJSON("mappingTbl<%= shapefile.id %>"));
        $(form_name).submit();
      });
    }
    if("<%= shapefile.condition %>" == "Processed"){

      $(".default_path_<%= shapefile.id %>").change(function(){
        if( this.checked ){
          $("#location<%= shapefile.id %>").attr("disabled", "disabled");
        }else{
          $("#location<%= shapefile.id %>").removeAttr("disabled");
        }
      });

      $("#checkFolder<%= shapefile.id %>").click(function(){
        var hrefValue = $(this).attr("href").split("=")[0];
        $(this).attr("href", hrefValue + "=" + $("#location<%= shapefile.id %>").val());
      });
    }

  });
</script>
